NEXT_PUBLIC_SUPABASE_URL=https://olccfjkurknzxwltbnyy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9sY2Nmamt1cmtuenh3bHRibnl5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgxNTI5NDEsImV4cCI6MjA5MzcyODk0MX0.HvGOCTunYGbm44ZgVAQmJ7yqzOpu7Cdi1G04EvYSP5w
